name: CMake Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up CMake
      uses: cmake/actions/setup-cmake@v1
      with:
        cmake_version: '3.21'

    - name: Install Google Test
      run: |
        git clone https://github.com/google/googletest.git
        cmake -S googletest -B build/googletest
        cmake --build build/googletest
        sudo cmake --install build/googletest

    - name: Build
      run: cmake -S . -B build && cmake --build build

    - name: Run tests
      run: cd build && ctest -V
